@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about {
  width: 70%;
}
.intro {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 10px;
}
.left {
  padding: 20px;
}
.left h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 15px 0;
}
.left h3 {
  font-weight: bold;
  margin: 15px 0;
  font-size: 25px;
  color: #ff5705;
}
.left p {
  margin: 15px 0;
  font-size: 17px;
  color: gray;
}
.left p span {
  color: #ff5705;
}
.left button {
  color: whitesmoke;
  margin: 15px 0;
  padding: 10px 20px;
  border-radius: 24px;
  background-color: #8d02cf;
  border: none;
  font-weight: bold;
}

.left button:hover {
  color: whitesmoke;
  background-color: #ff5705;
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;

  color: #2a2a2e;
  transform: translateY(-10px);
}
.right {
  padding: 20px;
}
