/* #fefdfd 
#FF5705
#8D02CF;
#f9f9f9 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefdfd;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #ff5705;
  font-weight: 700;
  margin: 30px 0;
  padding: 20px 5px;
}
h3 {
  font-size: 30px;
  color: #ff5705;
  font-weight: 700;
  margin: 20px 0;
}
p {
  font-size: 20px;
  color: gray;
  font-weight: 700;
  margin: 20px 0;
}
button {
  padding: 15px 25px;
  border-radius: 24px;
  border: none;
  background-color: #8d02cf;
  color: whitesmoke;
  margin: 10px 0;
  font-weight: bold;
  transition: 0.4s ease;
}
button:hover {
  background-color: #ff5705;
}

#youtube,
#marketPlace,
#aboutCeo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px 0;
}
.container {
  width: 80%;

  margin: 0 auto;
}
/* .marketList .aboutBox */

#youtube .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#youtube .container iframe {
  margin: 10px;
  border-radius: 10px;
}

#marketPlace .container .marketList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#marketPlace .container .marketList img {
  width: 100%;
  height: 100px;
  border-radius: 6px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 75px 20px rgba(219, 214, 214, 0.8);
}

#aboutCeo .container .aboutBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  margin: 10px;
}
#aboutCeo .container .aboutBox .left,
.right {
  padding: 10px;
  margin: 10px;
}
#aboutCeo .container .aboutBox .left,
img {
  border-radius: 10px;
  width: 100%;
}
